*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*{font-family:sans-serif;}
body{
    max-width: 100vw;
}
.header-contraner{
    background-image: url(../image/background.png);
    display: flex;
    justify-content:space-around;
    height:5rem;
    width: 100%;
}

.nav-header {
    width:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-contact-section ul li{
    list-style-type: none;
    line-height: 5rem;
    display: inline;
}
i{
    font-size:22px;
    cursor: pointer;
}
#search{
    padding-right: 15px;
}
 a {
    text-decoration: none;
    color: #000;
    
}
a:hover{
    color: #79A755;
    transition: 0.5s;
}
.nav-header a{
    font-size:22px;
}

.logo-contaner{
    display: flex;
    align-items: center;
}
.logo-contaner img{
    max-width:20vw;
}

/* Hero section */
.hero{
    min-height: 80vh;
    width: 100%;
    padding-top: 50px;
    justify-content: center;
    background-image: url(../image/background.png);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hero .hero-info {
    width: 100%;
    text-align:center;
    line-height: 6rem;
}
.hero .hero-info .hero-info-heading{
    font-size: 5rem;
    font-weight: 600;
    color: #79A755;
}
.hero-info-heading-2{
    font-size: 3rem;
    font-weight: 600;
    color: #000;
}
.hero .hero-info .hero-info-subheading{
    font-size: 2rem;
    font-weight: 600;
    color:#79A755;
}
.hero .hero-img{
    height: auto;
    width: 100%;
    margin-bottom: 3rem;
    margin-right: 4rem;
}
.hero .hero-img img{
    height: 100%;
    width: 100%;
}



/* feature section */
.feature-contaner{
    min-height: 80vh;
    width:100%;
}

.feature-title .hilghting-title{
    width: 80%;
}
.feature-title h2 ,.hilghting-title h2{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 40px;
}
.feature-title p{
    text-align: center;
}
.featuer-slaids{
  
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 2rem;
    justify-content: center;
}
.feature-content{
    width: 20%;
    margin: 0.7rem;
}
.feature-content img{
    width: 100%;
    border-radius:25px;
}
.feature-content img:hover{
    width: 102%;
    transition: all 0.5s;
}
.feature-content-description{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.4rem;
    font-variant: small-caps;
    text-align: center;
}

/* hilghting section */

.hilghting-slaids{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}
.hilghting-content{
    width: 10%;
    height:100px;
    margin: 1.5rem;
    border-radius: 100%;
    border: 1px solid #79A755;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hilghting-content p{
    font-size:15px;
    font-weight: 600;
  
}
#hilghting1{
    background-image: url(../image/hi1.jpg);
    
}
#hilghting2{
    background-image: url(../image/hi2.jpeg);
}
#hilghting3{
    background-image: url(../image/hi3.jpeg);
}
#hilghting4{
    background-image: url(../image/hi4.jpeg);
}

/* footer section */
.footer-contaner{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height:5rem;
    width: 100%;
    background-color: #EDE9E9;
}
.help-links ul li ,.media-links ul li{
    list-style-type: none;
    display: inline;
    font-size: 15px;
    
}
.help-links ul li{
    padding: 1.5rem;
}
.media-links ul li{
    padding: 0.2rem;
}
.copyright{
    font-size: 15px;
}

/*  Recipes page  */

/* Filter section */

.filter-contaner{
    width: 100%;
   display: flex;
   justify-content:center;
   align-items: center;
   margin: 1rem auto;
} 
.filter-catigury{
   width: 18%;
   display: flex;
   align-items: center;
   justify-content:space-between;
   background-color: #F1F1F1;
   margin:1rem;
   border-radius: 10px;
}
.filter-content{
   width: 100%;
}
.filter-content h3{
   font-size: 17px;
   text-align: center;
}

.filter-catigury img{
    max-width: 4rem;
    min-width: 3rem;
   border-radius: 10px;
}

/* submit page */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.submit-container{
width: 100%;
height: 120vh;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items:center;
text-align: center;
background-image: url(../image/background-img.png);
background-size: cover;
background-repeat: no-repeat;  

}
.submit-container h2{
font-size: 32px;
font-weight: bold;
text-align: center;
}

input ,textarea{
    padding: 20px;
    font-size: 16px;
}

.submit-container #title{
    width: 60%;
    height: 3rem;
    border-radius: 20px;
    border:2px solid #79A755;
    background-color:  rgba(239, 234, 234, 0.7);
    
}

.submit-container .Ingredients{
    width: 60%;
    height: 9rem;
    border-radius: 25px;
    border: 2px solid #79A755;
    background-color:  rgba(239, 234, 234, 0.7);
}
.submit-container .Instructions{

width: 60%;
height: 25rem;
 border-radius: 25px;
 border: 2px solid #79A755;
 background-color:  rgba(239, 234, 234, 0.7);
}

.submit-container #text{
    width: 23vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
input[type="file"]{
    display: none;
}
input[type="submit"]{
    padding-top: 10px;
}
 input[type="submit"], label{
    width: 10vw;
    height: 70%;
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid #79A755;
    background-color:  rgba(239, 234, 234, 0.7);

}
input[type="submit"]:active, label:active{
    transform: scale(0.9);
}

@media (min-width:1400px){
    .submit-container #title ,.submit-container .Ingredients ,.submit-container .Instructions{
        width: 80%;
    }
    .submit-container #title{
        height: 5rem;
    }
    .submit-container .Ingredients{
        height: 20rem;
    }
    
}
/* Details page */

body{
    max-width: 100vw;
}


.Recipes-container{
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
}


.hero-container{
    width: 100%;
    height: 100vh;
    background-image: url(../image/hero2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    position: relative;
   
}
.hero-container .hero-info{
display: flex;
flex-direction: column;
justify-content: flex-start;
gap: 30px;
padding: 30px;
}
.hero-container .hero-info a {
    text-decoration: none;
    color: black;
}

.hero-icon{
    position: absolute;
    right: 50px;
    top: 70px;
    display: flex;
    gap: 20px;
}

.hero-icon i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   
}

.hero-icon a {
    text-decoration: none;
    color: #000;
}
.hero-container .cook{
position: absolute;
left: 50px;
bottom: 50px;
display: flex;
gap: 10px;

}

 .hero-container .cook span{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
   
}
.hero-container .cook p{
    font-size: 12px;
    margin-top: 10px;
}



/* hero-recpies */
.hero-recpies{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.hero-recpies .left{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 40%;

}

.hero-recpies .left .Ingredients{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    border-radius: 15px;
    width: 80%;

}
 .Ingredients-image{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px; 
    width:100%;

 }

 .Ingredients-image img{
    margin-bottom: 20px;
    border-radius: 15px;
    width:130px;

    display: flex;
    
    margin-right: 20px;
}


.hero-recpies .right{
   width: 60%;
   width: fit-content;

}

.hero-recpies .right .text{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 30px;
    
   
}
.hero-recpies .right .text span{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    position: relative;
    bottom: -30px;
    left: -30px;
   
}
.hero-recpies .right .text p{
    line-height: 2;
 margin-left: 10px;

}
.footer-contaner{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height:5rem;
    width: 100%;
    background-color: #EDE9E9;
}
.help-links ul li ,.media-links ul li{
    list-style-type: none;
    display: inline;
    font-size: 15px;
    
}
.help-links ul li{
    padding: 1.5rem;
}
.media-links ul li{
    padding: 0.2rem;
}
.copyright{
    font-size: 15px;
}


@media (max-width:600px) {
    .hero-recpies{
    flex-direction: column;}
    .hero-recpies .left .Ingredients-image{
        width:100%;
    }


    .hero-recpies .left{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        width:100%;
    
    }
    
    .hero-recpies .left .Ingredients{
        width:100%;
    
    }
    .right h2{
        text-align: center;
    }
}

@media (min-width:768px) {
    .Recipes-container{
        width: 750px;
    }
    .hero-recpies .left .Ingredients-image img{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    
    }
}
.hero-recpies .left .Ingredients{
    width: 100%;}

@media (min-width:992px) {
    .Recipes-container{
        width: 970px;
    }
}
@media (min-width:1200px) {
    .Recipes-container{
        width: 1170px;
    }
}